body
{
    font-family: 'Ubuntu', sans-serif;
   
}

/* nabbar */
.bg-light  
{
    background: #130f40 !important;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover
{
    color:#fff !important
}
.logo 
{
    border:1px solid #FCBF49;
    padding: 0;
    padding: 4px 8px;
    background-color: #fcbf49;
    color:#130f40;
    font-size: 15px;
    border-bottom:6px solid #fff
}
 .navbar-toggler .fa 
 {
     color:#fff;
      font-size:28px;
 }
.navbar-light ,.navbar-light .navbar-nav .nav-link
{
    color:#efefef;
    font-size: 15px;
}
.navbar-light:hover
{
    color:#efefef;
}
.nav-link-hove 
{
    border-bottom:1px solid transparent;
}
.nav-link-hover:hover
{
    color:#efefee !important;
    border-bottom:1px solid #FCBF49;
}
.download-resume-btn
{
    border-bottom:3px solid #fff
}
.download-resume-btn:hover 
{
    transition: ease-in .4s;
    color:#efefee !important;
    border-color: #FCBF49;
}
.nav-icon 
{
    color:#FCBF49;;
}
 /* end navbar */

 /* start intro */ 

 .intro 
 {
     color:#fff;
     background: #130f40;
 }
 .intro .big-font-size 
 {
     font-size: 50px;
}
.By-building 
{
    border-radius: 4px; background:#3a3b71
}
.Im-an-full-stack 
{
    line-height: 35px;
}
.intro .btn-warning
 {
     background:#FCBF49
 }
 /* end intro */

 /* start about */

 .about
 {
    background: #fff;
 }
 .about .text 
 {
     line-height: 35px;
     
 }
 .about .university-link
 {
    color: #151641;
      text-decoration: none;
 }
 .about .image img 
 {
     width: 240px;
 }
 /* end about */

 /* Start work */
 .work
 {
    background: #FCBF49
 }
 .work .section-title 
 {
    background:#fff;color:#fcbf49
 }
/* end work */


/* Start education */
 .cgpa .fa 
 {
    color: #151641;
    font-size: 18px;
 }
/* end education */

/* Start skills */
.my-skills 
{
    background:#130f40 
}
.my-skill-list
{
    color:#fff;
}
 .my-skill-list > p:before
 {
    content: "▹";
    position: absolute;
    left: -10px;
    color: #fff;
    font-size: var(--fz-sm);
    line-height: 25px;
 }

 /* end skills */

/* start contact me */
.contact-me-submit-btn
{
    background:#FCBF49;
    margin-top: 1rem!important;
    margin-bottom: 1rem!important;   
}
.note
{
 display: inline-block;
}
.note .fa 
{
    display: inline-block;
    width: 20px;
    height: 20px;
    background: #151641;
    text-align: center;
    line-height: 20px;
    color: white;
}
}
/*end contact me */

/* start footer  */
footer 
{
    margin-bottom: 0;
}
.my-footer 
{
    margin-bottom: 0;
    background-color: #151641;;
}

.social-media
{
    background: white;
    display: inline-block;
    width: 30px;
    height: 30px;
     line-height: 30px;
    color: #151641;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
}
.social-media:hover 
{
    color: #151641;
    transition: ease-in-out .3s;
    border-bottom: 6px solid #FCBF49;
}
/* end footer  */


/* Start general elements */

.section-title 
{
   background: #fcbf49;
   padding: 4px;
   color: #fff;
}
 
/* end general elements */
@media only screen and (max-width:980px) {
    .navbar-nav
    {
        margin-top: 23px;
    }
    .navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover
    {
        color:#fff
    }
    .navbar-nav .nav-item 
    {
        margin-left: 0 !important;

    }
    .download-resume-btn
{
    border-bottom:none;
   
}
  }