body
{
    font-family: 'Ubuntu', sans-serif;
   
}

/* nabbar */
.bg-light  
{
    background: #130f40 !important;
}
.logo 
{
    border:1px solid #FCBF49;
    padding: 0;
    padding: 4px 8px;
    background-color: #fcbf49;
    color:#130f40;
    font-size: 15px;
    border-bottom:6px solid #fff
}
 
.navbar-light ,.navbar-light .navbar-nav .nav-link
{
    color:#efefef;
    font-size: 15px;
}
 
.navbar-light:hover
{
    color:#efefef;
}
.nav-link-hover:hover
{
    color:#efefee !important;
    border-bottom:1px solid #FCBF49;
}
.download-resume-btn
{
    border-bottom:3px solid #fff
}
.download-resume-btn:hover 
{
    transition: ease-in .4s;
    color:#efefee !important;
    border-color: #FCBF49;
}
.nav-icon 
{
    color:#FCBF49;;
}
 /* end navbar */
 /* start intro */ 

 .intro 
 {
     color:#fff
 }
 .intro .big-font-size {font-size: 50px;}

.intro .btn-warning
 {
     background:#FCBF49
 }
 /* end intro */

 /* start about */
 .about .text 
 {
     line-height: 35px;
     
 }

 .about .university-link
 {
    color: #151641;
      text-decoration: none;
 }
 /* end about */

/* Start education */
 
/* end education */

 .section-title 
 {
    background: #fcbf49;
    padding: 4px;
    color: #fff;
 }
 .my-skill-list > p:before
 {
    content: "▹";
    position: absolute;
    left: -10px;
    color: #fff;
    font-size: var(--fz-sm);
    line-height: 25px;

 }

/* start contact me */
.contact-me-submit-btn
{
    background:#FCBF49;
    margin-top: 1rem!important;
    margin-bottom: 1rem!important;
     
    
}
/*end contact me */

/* start footer  */
footer 
{
    margin-bottom: 0;
}
.my-footer 
{
    margin-bottom: 0;
    background-color: #151641;;
}

.social-media
{
    background: white;
    display: inline-block;
    width: 30px;
    height: 30px;
     line-height: 30px;
    color: #151641;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
}
.social-media:hover 
{
    color: #151641;
    transition: ease-in-out .3s;
    border-bottom: 6px solid #FCBF49;
}
/* end footer  */